<div class="header">
    <a class="center" href="/upload">UPLOAD</a>
    <a class="center" href="/filemanager">FILEMANAGER</a>
    <a class="center selected" href="/info">INFO</a>
</div>

<main>
    <div class="sidebar">
        <p>INFO</p>
    </div>

    <div class="mainbox">
        <p>LP: {{lp}}</p>
        <p>TYPE: {{type}}</p>
        <p>NAME: {{name}}</p>
        <p>SIZE: {{size}}</p>
        <p>PATH: {{path}}</p>
        <p>LAST MODIFIED: {{lastModified}}</p>
        <p>IMAGE: {{image}}</p>
</main>